.home{
    background-color: #16357B;
    
    height:100vh;
    
    
}
.welcome{
    font-size: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 600px;
    left: 400px;
    color: white;
}

h1{
    
    bottom: 300px;
    color: white;
}

.logo{
    align-items: center;
    height: 350px;
    width: 350px;
    position: absolute;
    bottom: 230px;
    left: 550px;
    right: 500px;

}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .button{
    background-color: #F89C35;
    position: absolute;
    text-align: center;
    right: 700px;
    left: 630px;
    bottom: 120px;
    border-radius: 5cm;
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: #F89C35;
  }
